<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_quote_init">
        <observer name="frontuser_integration_observer" instance="Frontuser\Integration\Observer\Predispatch" />
    </event>
</config>